<!-- Left Panel -->

<aside class="left-panel bg-dark text-white" id="left-panel">

    <nav class="navbar navbar-expand-sm navbar-default bg-dark text-white">

        <div class="navbar-header">

            <a class="navbar-brand" href="#"> AFAM &nbsp <img alt="Logo" src="/static/images/logoAFAM.jpg"
                                                               width="50px"></a>
            <a class="navbar-brand hidden" href="#"><img alt="Logo" src="static/images/logo2.png"></a>
        </div>


        <div aria-orientation="vertical" class="nav flex-column nav-pills" role="tablist">
<!--            <a aria-controls="v-pills-home" aria-selected="false" class="nav-link active bg-nav-link d-flex"-->
<!--               data-target="#id" data-toggle=""-->
<!--               href="{{url_for('index')}}"-->

<!--               role="tab">-->
<!--                <h3>Dashbord</h3>-->

<!--            </a>-->

            <a aria-controls="v-pills-abattage" aria-selected="true" class="nav-link active bg-nav-link d-flex"
               data-target="#id" data-toggle=""
               href="{{url_for('tab_depense_abattage')}}"
               role="tab">
                <i class="fa fa-sitemap"></i>
                &nbsp Abattage
            </a>

            <a aria-controls="v-pills-profile" aria-selected="false" class="nav-link bg-nav-link" data-target="#id"
               data-toggle=""
               href="{{url_for('tab_depense_betail')}}"
               role="tab">
                <i class="fa fa-leaf"></i>
                &nbsp Bétails</a>

            <a aria-controls="v-pills-messages" aria-selected="false" class="nav-link bg-nav-link" data-target="#id"
               data-toggle=""
               href="{{url_for('tab_depense_loyer')}}"
               onclick="window.location.href='{{url_for('tab_depense_loyer')}}'"
               role="tab">
               <i class="fa fa-key"></i>
                &nbsp Loyer
            </a>

            <a aria-controls="v-pills-settings" aria-selected="false" class="nav-link bg-nav-link" data-target="#id"
               data-toggle=""
               href="{{url_for('generale')}}"
               id="" role="tab">
                <i class="fa fa-tags"></i>
                &nbsp Générale</a>
            <nav>
                <ul>
                    <li class="nav-item">
                        <a aria-current="page" class="active" href="/generale">
                            <svg class="bi pe-none me-2" height="16" width="16">
                                <use xlink:href="#home"/>
                            </svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="/generale">
                            <svg class="bi pe-none me-2" height="16" width="16">
                                <use xlink:href="#speedometer2"/>
                            </svg>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="/generale">
                            <svg class="bi pe-none me-2" height="16" width="16">
                                <use xlink:href="#table"/>
                            </svg>
                            Orders
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="/generale">
                            <svg class="bi pe-none me-2" height="16" width="16">
                                <use xlink:href="#grid"/>
                            </svg>
                            Products
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="/generale">
                            <svg class="bi pe-none me-2" height="16" width="16">
                                <use xlink:href="#people-circle"/>
                            </svg>
                            Customers
                        </a>
                    </li>
                </ul>
            </nav>



        </div>
    </nav>
</aside><!-- /#left-panel -->
