<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="/static/assets/css/style2.css">

    <style>
    .text-print{
    font-size:1.2rem;
    }
      /* Définir les dimensions de la page */
      @page {
        size: A5;
        margin: 0;
      }

      /* Appliquer les dimensions à la zone d'impression */
      @media print {
      .no-print{
    display:none;
    }
        html, body {
          width: 148mm;
          height: 210mm;
        }
      }
    </style>
    <title>Bon de caisse</title>
</head>
<body>
<div class="imprimer no-print">
    <button class="btn btn-lg " id="imprimer" onclick="window.print()" type="button">Imprimer</button>
</div>

<div class="recu1">
    <div class="recu">
        <div class="bon">
            <div class="m-3"><img src="/static/images/logoAFAM.jpg" width="50px"/></div>
            <h3 class="text_recu">BON DE CAISSE</h3>
            <div class="date_bon" style="">
                <div class="title_bon">DATE </div> <div style="margin-left:10px"> : </div>
                <div style="margin-left:10px" class="ml-2"> {{bon_caisse.date}}</div>
            </div>
        </div>

        <div>
            <div class="bon ml-3">
                <div class="title_bon">NUMÉRO DU REÇU </div> <div style="margin-left:10px"> : </div>
                <div style="margin-left:10px" class="ml-2 text-print"> N° ABAT 0001</div>
            </div>
            {%if bon_caisse.type_table=='depense'%}
            <div class="text_dep">DEPENSE</div>
            {% else %}
            <div class="text_dep">RECETTE</div>
            {% endif %}
            <div class="container_bon">
                <div class="bon ml-3">
                    <div class="title_bon">DEPOSANT </div> <div style="margin-left:10px"> : </div>
                    <div style="margin-left:10px" class="ml-2 text-print">{{bon_caisse.beneficiaire}}</div>
                </div>
                <div class="bon ml-3">
                    <div class="title_bon">MONTANT EN CHIFFRE  </div> <div style="margin-left:10px"> : </div>
                    <div style="margin-left:10px" class="ml-2 text-print"> {{bon_caisse.montant}} Francs CFA</div>
                </div>
                <div class="bon ml-3">
                    <div class="title_bon">MONTANT EN LETTRE </div> <div style="margin-left:10px"> : </div>
                    <div style="margin-left:10px" class="ml-2 text-print">{{montant_lettre}} Francs CFA</div>
                </div>
                <div class="bon ml-3">
                    <div class="title_bon">MOTIF </div> <div style="margin-left:10px"> : </div>
                    <div style="margin-left:10px" class="ml-2">{{bon_caisse.motif}}</div>
                </div>

                <div class="signature ml-3">
                    <div>SIGNATURE DU DEPOSANT</div>
                    <div  class="ml-2">SIGNATURE DU COMPTABLE</div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr style="border-style:dashed;">

<div class="recu1">
    <div class="recu">
        <div class="bon">
            <div class="m-3"><img src="/static/images/logoAFAM.jpg" width="50px"/></div>
            <h3 class="text_recu">BON DE CAISSE</h3>
            <div class="date_bon" style="">
                <div class="title_bon">DATE</div> <div style="margin-left:10px"> : </div>
                <div style="margin-left:10px" class="ml-2"> {{bon_caisse.date}}</div>
            </div>
        </div>

        <div>
            <div class="bon ml-3">
                <div class="title_bon">NUMÉRO DU REÇU </div> <div style="margin-left:10px"> : </div>
                <div style="margin-left:10px" class="ml-2 text-print"> N° ABAT 0002</div>
            </div>
            {%if bon_caisse.type_table=='depense'%}
            <div class="text_dep">DEPENSE</div>
            {% else %}
            <div class="text_dep">RECETTE</div>
            {% endif %}
            <div class="container_bon">
                <div class="bon ml-3">
                    <div class="title_bon">DEPOSANT</div> <div style="margin-left:10px"> : </div>
                    <div style="margin-left:10px" class="ml-2 text-print">{{bon_caisse.beneficiaire}}</div>
                </div>
                <div class="bon ml-3">
                    <div class="title_bon">MONTANT EN CHIFFRE </div> <div style="margin-left:10px"> : </div>
                    <div style="margin-left:10px" class="ml-2 text-print"> {{bon_caisse.montant}} Francs CFA</div>
                </div>
                <div class="bon ml-3">
                    <div class="title_bon">MONTANT EN LETTRE </div> <div style="margin-left:10px"> : </div>
                    <div style="margin-left:10px" class="ml-2 text-print">{{montant_lettre}} Francs CFA</div>
                </div>
                <div class="bon ml-3">
                    <div class="title_bon">MOTIF </div> <div style="margin-left:10px"> : </div>
                    <div style="margin-left:10px" class="ml-2">{{bon_caisse.motif}}</div>
                </div>

                <div class="signature ml-3">
                    <div>SIGNATURE DU DEPOSANT</div>
                    <div class="ml-2 ">SIGNATURE DU COMPTABLE</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
