{% extends 'index.html' %}
{% block  content %}

<!-- CSS only -->


<!--under nav-->
<div class="breadcrumbs  ">
    <div class="col-sm-5 mt-3">
        <div class="page-header float-right">

            <a href="{{url_for('etat')}}">
                <button class="btn btn-secondary rounded" type="button">Recettes</button>
            </a>

        </div>
    </div>


    <div class="col-sm-2 mt-3">
        <div class="page-header float-right">
            <a href="{{url_for('etat')}}">
                <button class="btn btn-primary rounded" type="button">Depenses</button>
            </a>

        </div>
    </div>
</div>


<!--under nav-->
<div class="etat1">
    <div class="etat">
        <div class="m-3"><img src="static/images/logoAFAM.jpg" width="50px"/></div>
        <h1 class="text_etat"> Etat depense</h1>
        <h4 class="date_etat">Du {{debut}} au {{fin}}</h4>


        <!--boutton ajouter-->

        <div class="row">
            <div class="col-md-12 ">
                <div class="card ">

                </div>
                <div class="card-body ">
<!--                    {% if depenses %}-->
                    <table>
                        <thead>
                        <tr>
                            <th>Num</th>
                            <th>Date</th>
                            <th>Bénéficiaire</th>
                            <th>Montant en Chiffre</th>
                            <th> Service</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for depense in depenses %}
                        <tr>
                            <td>{{depense.id}}</td>
                            <td>{{depense.date}}</td>
                            <td>{{depense.beneficiaire}}</td>
                            <td>{{depense.montant}}</td>
                            <td>{{depense.service_id}}</td>
                        </tr>
                       {% endfor %}

                        </tbody>

                    </table>
<!--                    {% else %}-->
<!--                    <p>Il n'y a rien a ajouter</p>-->

<!--                {% endif %}-->


                    <!--Fin Table-->


                </div>
            </div>
        </div>
    </div>
</div>

<div class="imprimer">
    <button class="btn btn-lg" id="imprimer" type="button">Imprimer</button>
</div>

<!--Script data table-->
<script src="./static/vendors/jquery/dist/jquery.min.js"></script>
<script src="./static/vendors/popper.js/dist/umd/popper.min.js"></script>
<script src="./static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./static/assets/js/main.js"></script>

<!-- JavaScript Bundle with Popper -->
<script crossorigin="anonymous"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="./static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="./static/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="./static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="./static/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="./static/vendors/jszip/dist/jszip.min.js"></script>
<script src="./static/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="./static/vendors/pdfmake/build/vfs_fonts.js"></script>
<script src="./static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="./static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="./static/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="./static/assets/js/init-scripts/data-table/datatables-init.js"></script>
</div>


{% endblock %}