<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="/static/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/static/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/static/vendors/jqvmap/dist/jqvmap.min.css">
    <link href="/static/assets/css/style2.css" rel="stylesheet">
    <link href="/static/assets/css/print.css" rel="stylesheet">
    <title>Etat des recettes</title>
</head>
<body>

    <div class="imprimer">
        <button class="btn btn-lg" id="imprimer" type="button">Imprimer</button>
    </div>

<!--under nav-->
<div class="etat1">
    <div class="etat">
        <div class="m-3"><img src="static/images/logoAFAM.jpg" width="50px"/></div>
        {% if depenses %}
        <h1 class="text_etat"> Etat recette</h1>
        <h3 class="date_etat">{{debut}} ==> {{fin}}</h3>
        <div class="row">
            <div class="col-md-12 ">
                <div class="card-body ">
                    <table>
                        <thead>
                        <tr>
                            <th>Num</th>
                            <th>Date</th>
                            <th>Bénéficiaire</th>
                            <th>Montant en Chiffre</th>
                            <th> Service</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for recette in recettes %}
                        <tr>
                            <td>{{recette.id}}</td>
                            <td>{{recette.date}}</td>
                            <td>{{recette.beneficiaire}}</td>
                            <td>{{recette.montant}}</td>
                            <td>{{recette.service_id}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% else %}
        <h1>Il n'y a pas de recettes pour cette periode</h1>
        <h2> {{debut}} ==> {{fin}}</h2>
        {% endif %}
    </div>
</div>
<div id="btn-up">

<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
</svg>
</div>
</body>
</html>
<!--under nav-->
<script>
    const btnUp = document.getElementById('btn-up');
const scrollThreshold = 200; // Hauteur de défilement pour afficher le bouton

window.addEventListener('scroll', () => {
  const currentScroll = window.pageYOffset;
  if (currentScroll > scrollThreshold) {
    btnUp.style.display = 'block';
  } else {
    btnUp.style.display = 'none';
  }
});

btnUp.addEventListener('click', () => {
  window.scrollTo({ top: 0, behavior: 'smooth' });
});

</script>

