{% extends 'index.html' %}
{% block content %}
<div class="" id="right-panel"><!--right-panel-->

    <!--titre navbar-->
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>ABATTAGE</h1>
                </div>
            </div>
        </div>
    </div>

    <!--Fin titre navbar-->
    <div class="container m-1">
        <div class="text-right">
            <button class="btn btn-danger" type="button">Annuler</button>
        </div>
    </div>
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        {% block form %}
                        {% endblock %}
                    </div>
                </div> <!-- .card -->
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}