{% extends 'index.html' %}
{% block  content %}


<!--under nav-->
    {% include './pages/under_nav.html'%}
<!--under nav-->
<h3>Vous êtes sur : {{ request.path }}</h3>

<div class="container m-3 d-flex justify-content-between" id="right-panel">
    <div class="row m-1 p-3 border border-dark col-3">
        <div class="row m-1">
            <h3 class="d-block">Solde :</h3>
            <!--Lorsqu'on aura des elements dans la base de donnée, le solde sera remplacé par solde de chaque section-->
            <h3 class="d-block">120 000 cfa</h3>
        </div>
    </div>

    <div class="">

            <a href="{{url_for('form_recette')}}">
                <button class="btn btn-success m-1 p-3 rounded" type="button">+ Ajouter</button>
            </a>

    </div>
</div>


<div class="row">
    <div class="col-md-12 ">
        <div class="card ">
            <div class="card-header ">
                <div class="d-flex justify-content-between ">
                    <div class="d-flex">
                        <label for="date-debut"><h3>Début </h3></label>
                        <input aria-describedby="cc-name-error" aria-invalid="false" aria-required="true"
                               autocomplete="cc-name"
                               class="form-control cc-name valid" data-val="true"
                               data-val-required="Saisissez le montant" id="date-debut" name="date-debut" type="date">
                    </div>

                    <div class=" d-flex">
                        <label for="date-fin"><h3>Fin </h3></label>
                        <input aria-describedby="cc-name-error" aria-invalid="false" aria-required="true"
                               autocomplete="cc-name"
                               class="form-control cc-name valid" data-val="true"
                               data-val-required="Saisissez le montant" id="date-fin" name="date-fin" type="date">
                    </div>

                    <div class="">
                        <button class="btn btn-warning text-white" type="button">Filtrer</button>
                    </div>

                    <div class="">
                        <select class="form-control" id="" name="select">
                            <option>Imprimer</option>
                            <option value="1">Pdf</option>
                            <option value="2">Excel</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <!--Table-->
                {% block  table %}

                {% endblock %}
                <!--Fin Table-->

            </div>
        </div>
    </div>

    <!--Script data table-->
    <script src="./static/vendors/jquery/dist/jquery.min.js"></script>
    <script src="./static/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="./static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./static/assets/js/main.js"></script>


    <script src="./static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="./static/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="./static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="./static/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="./static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="./static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="./static/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="./static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="./static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="./static/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="./static/assets/js/init-scripts/data-table/datatables-init.js"></script>
</div>


{% endblock %}