
.nav-pills > a.bg-nav-link.active {
    background-color: green;
    border: none;
}
.nav-pills > a.ac.active {
background-color:green;
}
.button{
background: blue !important;
position: relative !important;
left:350px !important;
top: 14px !important;
width:100px !important;
font-size: 20px !important;
color: White !important;
border-color: blue !important;
}

.buttonner{
background: gray !important;
position: relative !important;
right:400px !important;
width:100px !important;
font-size: 20px !important;
color: White !important;
border-color: gray !important;

}

.bloc{
width:150px !important;
position: relative!important;
left: 70px!important;
top:50px !important;
}

.bloc-gauche{
width:150px !important;
position: relative!important;
left: 270px!important;
top:10px !important;

}

.begin{
display:inline-block
position: relative!important;
top:82px !important;
left:15px !important;
font-size:15px!important;
}
.end{
display:inline-block
position: relative!important;
left:230px !important;
font-size:15px!important;
top:-12px !important;
}
.filtre{
background:#F0E68C !important;
width:100px !important;
font-size: 20px !important;
color: White !important;
border-color:#F0E68C!important;
position: relative!important;
left:500px !important;
top: -50px !important;
}

.prime{
width:150px !important;
position: relative!important;
left:850px !important;
top: -90px !important;

}
.prime select{
color: withe !important;
}

.globale{
position: relative!important;
top:70px!important;
}
.icon-poubelle{
position: relative!important;
left:30px !important;
color: red!important;
}

.icon-editer{
position: relative!important;
left:15px !important;
color: blue!important;

}

.gauche{
position: relative!important;
left:-225px !important;
}

.identification{
width: 150px!important;
position:relative!important;
top:-15px!important;

}

.user{
width:400px:!important;
position: relative!important;
left:-150px!important;

}

.submit-button{
position:relative!important;
top:15px!important;
left:30px!important;
}

.password{
width: 150px!important;
position:relative!important;
top:-9px!important;
}

.link.active {
  background-color: red;
}

li a:is(:linked, :active, :visited).active {
  background-color: yellow;
}

.icon-download{
position:relative !important;
color:green;
margin-left:30px}

.etat{
width:80%;
margin:1rem;
}

.recu{
margin:0 0 3rem 0;
}

.etat1{
display:flex;
justify-content: center;}

.recu1{
display:flex;
justify-content: center;}

.text_etat{
text-align:center;
font-weight:bold;
font-size:40px
}

.text_recu{
font-weight:bold;
font-size:25px
}



.date_etat{
text-align:center;
margin:10px
}

table, td, th {
  border: 1px solid #CBCECA;
  padding:10px
}

table {
  width: 100%;
  border-collapse: collapse;

}
.imprimer{
display:flex;
justify-content: end;
margin:0.5rem
}

#imprimer{

width:20%;
background-color:yellow;
color:#353535;
font-weight:1rem;
border-radius:5px;
font-size:1rem}

.bon{
display:flex;
align-items:center;
margin-top:10px;
margin-bottom:10px}

.signature{
display:flex;
align-items:center;
justify-content:space-around;
font-size: 14px;
margin-top:30px
}

.date_bon{
display:flex;
align-items:center;
margin-left:120px
}

.title_bon{
font-weight:600;}

.text_dep{
display:flex;
justify-content:center;
font-size:25px}
.container_bon{
}
.periode2{
display: flex;
margin-top:30px;

}

.periode{
display:flex;
justify-content:center;
}

.periode1{
padding-left:10px;
}

.recherche_periode{
margin:10px;
background-color:yellow;
height:35px;
width:150px;
border-radius: 10px;
border:none;
cursor: pointer}

.periode3{
display:flex;
margin-left:20px;
margin:30px
}
.design_periode{
margin:10px;
width:300px;
height:35px;
padding-left:20px;
padding-right:20px;
border:none;
border-radius:10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.select_period{
width:140px;
height:35px;
padding-left:10px;
margin-left:20px;
border:none;
border-radius:10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
outline:none;
}

.aff{
font-size:25px;
font-weight:700;
}


.select_period{
width:140px;
height:35px;
padding-left:10px;
margin-left:20px}

.pronom{
font-size: 20px}

.nav-link:active {
  background-color: green;
}
